extends layout.pug

block content
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        if (result.length === 0)
          include partials/search-empty.pug
        else
          p.search-results__label #{result.length === 1 ? 'Найдена ' : 'Найдено '}
            span.js-results #{result.length} #{result.length === 1 ? 'публикация' : 'публикации'}
          ul.search-results__list
            each offer in result
              li.search-results__item
                include partials/offer-card.pug
  if (offers.recent.length > 0)
    include partials/offers-newest.pug
